.forgot-password-container {
  display: flex;
}

.form-wrapper {
  padding: 35px;
  /* border-radius: 8px; */
  width: 50%;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--primary-blue);
}

.input-field {
  font-size: 14px;
  border: 2px solid var(--secondary-soft-gray);
  /* border-radius: 10px; */
  outline: none;
  transition: border 0.3s ease;
  width: 100%;
}

.input-field:focus {
  border-color: var(--primary-blue);
}

.submit-button {
  margin-top: 20px;
  width: max-content;
  padding: 10px;
  font-size: 16px;
  color: var(--secondary-soft-gray);
  background-color: var(--primary-blue);
  border: 1px solid transparent;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-button {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  font-size: 14px;
  align-items: center;
  color: var(--sidebar-hover);
}

.error-message {
  color: var(--alert-red);
  font-size: 12px;
  margin-top: 4px;
  margin-left: 10px;
}

.changepassword-label {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .form-wrapper {
    width: 100% !important;
    padding: 20px;
  }

  .submit-button {
    width: 100%;
  }

  .title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .input-field {
    font-size: 13px;
    margin-bottom: 12px;
  }

  .submit-button {
    padding: 12px;
    font-size: 14px;
    margin-top: 12px;
  }

  .forgot-links {
    font-size: 13px;
  }

  .toggle-button {
    right: 15px;
    margin-top: -5px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .label {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .input-field {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .submit-button {
    padding: 10px;
    font-size: 12px;
    margin-top: 10px;
  }

  .forgot-links {
    font-size: 12px;
  }
}
