.active {
  color: var(--alert-green);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.clock-in-btn {
  padding: 10px 20px;
  background-color: var(--secondary-teal);
  color: var(--primary-white);
  border: none;
  cursor: pointer;
}

.timer {
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
}

.total-working-time {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.clock-out-btn {
  padding: 10px 20px;
  background-color: var(--alert-red);
  color: var(--primary-white);
  border: none;
  cursor: pointer;
}

.clockin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  /* border-radius: 4px; */
  border: 1px solid var(--secondary-soft-gray);
  scrollbar-width: thin;
}

.clockin-table th,
.clockin-table td {
  padding: 20px 10px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid var(--secondary-soft-gray);
}

.clockin-table th {
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-light-gray);
}

#scanner-visible {
  width: 100%;
}

#html5-qrcode-button-camera-stop {
  display: none !important;
}
#scanner-visible__dashboard_section {
  padding: 0 !important;
}

@media (max-width: 500px) {
  .clockin-dropdown-menu {
    white-space: nowrap;
    padding: 15px;
    font-size: 12px;
  }

  .clockin-dropdown-menu button {
    padding: 5px;
  }

  .clockin-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .clockin-table th,
  .clockin-table td {
    white-space: nowrap;
    padding: 12px;
    font-size: 12px;
  }

  .locationlist-action button {
    padding: 6px 10px !important;
  }

  .locationlist-title h2 {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .clockin-table {
    overflow-y: auto;
  }

  .clockin-table td {
    padding: 16px;
  }

  .clockin-dropdown-menu {
    left: -15px;
  }
}

@media (max-width: 767px) {
  .clockin-dropdown-menu {
    left: -45px;
    padding: 8px;
  }

  .clockin-table th,
  .clockin-table td {
    padding: 12px;
    font-size: 12px;
  }
}
