.main-setting-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px 0;
}

.setting-stepper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.setting-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  flex: 1;
}

.setting-step-content {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.setting-step-number {
  width: 30px;
  height: 30px;
  border: 2px solid var(--secondary-soft-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-soft-gray);
  color: var(--sidebar-bg);
  font-weight: bold;
  margin-bottom: 5px;
}

.setting-step-content {
  margin: 30px;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.setting-step.active .setting-step-number {
  border-color: var(--primary-blue);
  background-color: var(--primary-blue);
  color: var(--secondary-soft-gray);
}

.Addemployee-step-label {
  font-size: 14px;
  color: var(--sidebar-hover);
}

.stepper-button button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-blue);
  color: var(--secondary-soft-gray);
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 14px;
}

.setting-next-button button:disabled {
  background-color: var(--secondary-soft-gray);
  cursor: not-allowed;
  color: var(--sidebar-hover);
}

.setting-next-button {
  display: flex;
  gap: 20px;
}

.setting-next-button button {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-blue);
  color: var(--secondary-soft-gray);
  cursor: pointer;
  font-size: 14px;
}
.setting-next-button button:hover {
  background-color: var(--blue-hover);
}
.setting-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--neutral-light-gray);
}

.setting-section {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  gap: 15px;
}

.setting-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}

.setting-step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 28%;
  right: -50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 2px;
  background-color: var(--neutral-light-gray);
  z-index: -1;
  transform: translateY(-50%);
}

.setting-step.completed:not(:last-child)::after {
  background-color: var(--secondary-teal);
}

.setting-step.completed .setting-step-number {
  color: var(--primary-white);
  font-weight: bold;
}

.checkmark-icon {
  font-size: 16px;
  font-weight: 800;
}

.setting-step.completed .setting-step-number {
  background-color: var(--alert-green);
  color: var(--primary-white);
  border: 1px solid var(--alert-green);
}

.addemployee-registration-link {
  display: flex;
  text-align: center;
  gap: 10px;
  align-items: center;
}

.addemployee-registration-link input,
.addemployee-registration-link label {
  margin: 0;
}

.addemploye-document-flex {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.flex {
  width: max-content;
  padding: 7px 15px;
  font-size: 18px;
  color: var(--primary-white);
  border: none;
  background-color: var(--primary-blue);
}

.setting-container-flex {
  display: flex;
  justify-content: center;
}

.employee-document {
  margin-top: 40px;
}

.employee-document h3 {
  color: var(--primary-blue);
  margin-bottom: 30px;
}

.document-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 10px;
}

.document-table th,
.document-table td {
  padding: 15px;
  text-align: left;
}

.document-table th {
  font-weight: bold;
}

.document-table tr {
  border-bottom: 1px solid var(--neutral-light-gray);
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 10px;
}

.setting-logo-flex {
  display: flex;
  gap: 10px;
  align-items: center !important;
}

.custom-file-upload {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 15px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--primary-blue);
}

.setting-upload-img {
  background-color: var(--neutral-dark-blue);
  color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0;
  transition: all 0.3s ease-in-out;
  /* border-radius: 4px; */
  border: 1px solid var(--neutral-dark-blue);
  padding: 6px 0;
  height: max-content;
}

.hidden-file-input {
  display: none;
}

.setting-flex h1 {
  font-size: 26px;
  color: var(--primary-blue);
}

@media (max-width: 575px) {
  .setting-section {
    flex-direction: column;
    gap: 7px;
    margin-bottom: 7px;
  }

  .setting-step:not(:last-child)::after {
    top: 25% !important;
  }

  .addemploye-document-flex {
    margin-top: 10px;
    align-items: flex-start;
  }

  .setting-container {
    margin-top: 10px;
  }

  .main-setting-container {
    gap: 5px;
  }

  .setting-step-content {
    margin: 5px 0 !important;
  }

  .setting-flex h1 {
    font-size: 20px !important;
  }

  .setting-step-number {
    height: 25px;
    width: 25px;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .setting-step-label {
    display: none;
  }

  .setting-step.active .setting-step-label {
    display: block;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .setting-step:not(:last-child)::after {
    top: 28%;
  }
}

@media (max-width: 767px) {
  .setting-upload-img {
    padding: 6px 12px;
  }

  .custom-file-upload {
    padding: 9px;
    font-size: 12px;
  }

  .setting-flex h1 {
    font-size: 28px;
  }

  .setting-step-content {
    margin: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .location-row {
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .setting-logo-flex {
    flex-direction: column;
    gap: 2px;
    align-items: flex-start !important;
  }
}
