.pagination-container {
  display: flex;
  justify-content: right;
  margin: 20px 5px;
}

.pagination-container button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background-color: var(--secondary-soft-gray);
  cursor: pointer;
  /* border-radius: 4px; */
}

.pagination-container button.active {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.Action-button:disabled {
  background-color: var(--secondary-soft-gray);
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 575px) {
  .pagination-container button {
    padding: 3px 7px;
  }
}
