.content {
  position: relative;
  left: 300px;
  width: calc(100% - 300px);
  transition: left 0.3s ease, width 0.3s ease;
}

.sidebar.collapsed ~ .content {
  left: 80px;
  width: calc(100% - 80px);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
  width: 300px;
  background-color: var(--secondary-dark-gray);
  transition: width 0.3s ease;
  scroll-behavior: smooth;
  z-index: 999;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--sidebar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--sidebar-hover);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-bg);
}

.sidebar.collapsed {
  width: 80px;
}

.logo_name {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.logo-details {
  display: flex;
  align-items: center;
  padding: 36px 20px;
  align-items: center;
  border-bottom: 1px solid;
  justify-content: center;
  border-bottom: 1px solid var(--sidebar-hover);
}

.logo-details img {
  height: 40px;
  width: 40px;
}

.home-subheader {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--sidebar-hover);
}

.sidebar .logo-details .logo-text {
  color: var(--primary-white);
  font-size: 22px;
  font-weight: 600;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.text img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.nav-links {
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  max-height: calc(100vh - 100px);
}

.sidebar-icon {
  display: flex;
  align-items: center;
}

.sidebar.collapsed .logo-details .logo-text {
  opacity: 0;
}

.sidebar .nav-links li {
  list-style: none;
  margin: 10px 0;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 20px;
  padding: 8px;
  color: var(--primary-white);
  /* border-radius: 5px; */
  transition: 0.3s ease;
}

.sidebar .nav-links li a:hover {
  color: var(--sidebar-hover);
}

.sidebar .nav-links li a .sidebar-icon {
  font-size: 20px;
}

.sidebar.collapsed .nav-links li a .link_name {
  display: none;
}

.nav-links li .active {
  background-color: var(--alert-yellow);
  color: var(--neutral-dark-blue);
}

.nav-links li .active .link_name {
  color: var(--neutral-dark-blue);
}

.nav-links li a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  color: inherit;
  color: var(--neutral-dark-blue);
}

.nav-links li .active .sidebar-icon {
  color: var(--neutral-dark-blue);
}

.nav-links li .active {
  background-color: var(--alert-yellow);
  color: var(--secondary-dark-gray);
}

.nav-links li .active .link_name {
  color: var(--secondary-dark-gray);
}

.nav-links li a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  color: inherit;
  color: var(--secondary-dark-gray);
}

.nav-links li .active .sidebar-icon {
  color: var(--secondary-dark-gray);
}

.nav-links li {
  position: relative;
}

.nav-links li .tooltip {
  display: block;
}

.sidebar-Toggle-menu {
  display: none;
  color: var(--alert-yellow);
  /* left: 220px; */
  left: 240px;
  font-size: 24px;
  /* margin-top: -14px; */
  top: 72px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: fixed;
  background: var(--primary-white);
  border-radius: 20px;
}

.sidebar-Toggle-menu.collapsed {
  transform: rotate(180deg);
  transition: width 0.3s ease;
}

.section-title {
  color: var(--secondary-soft-gray);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
}

.section-title.collapsed {
  display: none;
}

@media screen and (max-width: 600px) {
  .logo-details {
    padding: 23px !important;
  }

  .sidebar-Toggle-menu {
    display: none;
    color: var(--alert-yellow);
    left: 235px;
    font-size: 24px;
    top: 64px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: fixed;
    background: var(--primary-white);
    border-radius: 20px;
  }
}

@media screen and (max-width: 500px) {
  .sidebar .logo-details img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 400) {
  .sidebar .nav-links li {
    margin: 5px;
  }

  .sidebar .nav-links li a {
    padding: 8px 15px !important;
  }
}

@media screen and (max-width: 767px) {
  .sidebar .nav-links li {
    margin: 0px;
  }

  .nav-links {
    padding: 10px;
  }

  .sidebar .logo-details img {
    width: 30px;
    height: 30px;
  }

  .setting-form-container {
    width: 90%;
  }
  .sidebar .nav-links li a {
    padding: 10px 18px;
  }

  .logo-details {
    /* padding: 23px; */
    padding: 27px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    width: 250px;
    transition: width 0.3s ease;
  }

  .sidebar .nav-links li a {
    gap: 10px;
  }

  .link_name {
    font-size: 14px;
  }

  .sidebar.collapsed {
    display: none;
    transition: width 0.3s ease;
  }

  .sidebar.collapsed ~ .home-section,
  .sidebar.collapsed ~ .subheader-section,
  .sidebar.collapsed ~ .content,
  .content {
    left: 0 !important;
    width: 100% !important;
  }

  .sidebar-Toggle-menu {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .section-title {
    display: none;
  }
}
