.subheader-section {
  position: relative;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 0;
  justify-content: center;
  background-color: var(--primary-white);
  left: 300px;
  width: calc(100% - 300px);
  transition: left 0.3s ease, width 0.3s ease;
  border-bottom: 1px solid var(--neutral-light-gray);
  background-color: var(--primary-white);
  z-index: 10;
}

.home-subheader-content {
  margin-top: 70px;
  display: flex;
  color: var(--sidebar-hover);
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
  z-index: 0;
  margin-bottom: 20px;
}

.home-subheader-content p {
  margin: 0;
  font-size: 20px;
}

.home-subheader p {
  color: var(--primary-white);
  font-size: 18px;
}

.page-title {
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  color: var(--secondary-dark-gray) !important;
}

@media screen and (max-width: 600px) {
  .home-subheader-content {
    margin-top: 52px;
    margin-bottom: 15px;
  }

  .home-subheader-content p {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .home-subheader-content {
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .subheader-section {
    left: 0;
    width: 100%;
  }
}
