@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

button,
nav,
.small-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  margin: 15px 0;
  font-weight: 700;
}

:root {
  /* Primary Colors */
  --primary-blue: #007bff;
  --primary-white: #ffffff;
  /* Secondary Colors */
  --secondary-soft-gray: #f7f7f7;
  --secondary-dark-gray: #333333;
  --secondary-teal: #20c997;
  --input-placeholder: gainsboro;
  --blue-hover: #0056b3;
  /* Alert Colors */
  --alert-green: #28a745;
  --alert-yellow: #ffc107;
  --alert-red: #dc3545;
  --sidebar-hover: rgb(102, 100, 100);
  --secondary-soft-gray-rgb: 0, 0, 0;
  /* Neutral Shades */
  --neutral-light-gray: #eaeaea;
  --neutral-dark-blue: #343a40;
  --sidebar-bg: black;
  --calender-today: #ebf5ff;
  /* Font Families */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Lato", sans-serif;
  /* Font Weights */
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  /* Font Sizes */
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-body: 16px;
  --font-size-small: 14px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  padding: 15px 10px;
  width: max-content;
  margin-top: 5px;
  border: 1px solid var(--neutral-light-gray);
  color: var(--secondary-dark-gray);
  font-size: 14px;
  /* border-radius: 4px; */
  /* background-color: rgb(240, 240, 240); */
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--primary-blue);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
  font-size: 12px;
  opacity: 1;
}

@media (max-width: 767px) {
  label {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  input,
  select,
  textarea {
    padding: 12px !important;
    margin-top: 10px;
    /* border-radius: 10px; */
    font-size: 14px !important;
  }

  label {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .label {
    font-size: 12px;
    margin-bottom: 5px;
  }

  input,
  select,
  textarea {
    padding: 10px !important;
    font-size: 12px !important;
  }
}
